@media(min-width: 425px){
    .graphic-design{
        background: url('./images/desktop/image-graphic-design.jpg') no-repeat bottom center/cover;
      }

      
      .photography{
        background: url('./images/desktop/image-photography.jpg') no-repeat bottom center/cover;
      }  
}

@media(min-width: 692px) {
    header {
        background: url('./images/desktop/image-header.jpg') no-repeat center center/cover;
    }
}

@media(min-width: 750px) {
    .transform-image img,
    .stand-out-image img{
        height: 100%;
    }
    
    .transform,
    .stand-out,
    .services {
        display: flex;
        max-width: 1500px;
        margin: 0 auto;
    }

    .transform{
        flex-direction: row-reverse;
    }

    .transform>*,
    .stand-out>*,
    .services>* {
        flex-basis: 50%;
    }

    .gallery-mobile{
        display: none;
    }

    .gallery-desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1440px;
        margin: 0 auto;
    }
    
    .background{
        background: var(--grayish-blue);
    }
}

@media(min-width: 900px) {
    .info{
        padding: 5rem;
        text-align: left;
        margin-top: 2rem;
    }

    .info h2{
        font-size: 2.75em;
        max-width: 525px;
    }

    .info p{
        font-size: 1.25rem;
        max-width: 500px;
    }

    .gallery-desktop{
        grid-template-columns: repeat(4, 1fr);
    }

    .testimonials-list {
        display: flex;
        gap: 1rem;
    }

    .testimonial img {
        width: 5rem;

    }

    .navbar{
        padding: 3rem;
    }

    .menu-toggle {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        box-shadow: none;
        position: initial;
        padding: 0;
        width: 45%;
    }

    .menu::before {
        content: none;
    }

    .menu li {
        padding: 0;
    }

    .menu a {
        color: var(--white);
    }

    .menu .contact {
        background: var(--white);
    }

    .contact:hover{
        background: var(--dark-blue);
        color: var(--white);
    }


    .header-title h1 {
        font-size: 3.5rem;
    }
}